html {
  scroll-behavior: smooth;
}

/* our work precess cards */
#owp-cart {
  transition: all 0.4s;
  cursor: pointer;
}
#owp-cart:nth-child(1):hover,
#owp-cart:nth-child(2):hover {
  transform: perspective(400px) rotateY(5deg);
}
#owp-cart:nth-child(3):hover,
#owp-cart:nth-child(4):hover {
  transform: perspective(400px) rotateY(-5deg);
}
/* portfolio cards hover efect */
#portfolio-cards > div {
  transition: all 0.2s;
  cursor: pointer;
}
#portfolio-cards > div:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: translateY(-2px);
}
#portfolio-cards > div img {
  transition: all 0.4s;
}
#portfolio-cards > div:hover img {
  transform: perspective(900px) rotateY(20deg);
}
/* contact section  */
#contact {
  background: linear-gradient(
      to top,
      rgba(245, 245, 245, 0.6),
      rgba(245, 245, 245, 0.6)
    ),
    url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
